.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: hsl(var(--foreground));
  color: hsl(var(--background));
  padding: 4rem 0;
}

.footerLinks {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footerLink {
  color: hsl(var(--text-muted));
}

.footerLink:hover {
  color: hsl(var(--background));
}